<!DOCTYPE html>
<html>
  <head>
    <title>Nails</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.9.0/css/all.css">
  </head>

  <body>
  <header class="navbar navbar-fixed-top">
  <div class="col-xs-11">
  
  <ul class='nav navbar-nav navbar-left' >
    <%= image_tag'logo.png', :size => '100x100' %>
  </ul>

  <ul class="nav navbar-nav navbar-right">
  <% if user_signed_in? %>
  <li class="nav-list">
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </li>
  <li class="nav-list">
    <%= link_to '投稿', new_post_image_path %>
  </li>
  <li class="nav-list">
    <%= link_to '一覧', root_path %>
  </li>
  <li class="nav-list">
    <%= link_to 'マイページ', user_path(current_user.id) %>
  </li>
  <% else %>
  <li class="nav-list">
    <%= link_to '新規登録', new_user_registration_path %>
  </li>
  <li class="nav-list">
    <%= link_to 'ログイン', new_user_session_path %>
  </li>
  <li class="nav-list">
    <%= link_to 'About', home_about_path %>
  </li>
  <% end %>
  <br>
  <% if user_signed_in? %>
      <%= render 'layouts/search' %>
      <% end %>
  </ul>
  </div>
  </header>

  <div class="body">
    <div class="container">
      <div class="row">
      <div class="col-xs-12">
      <%= yield %>
      </div>
      </div>
    </div>  
  </div>
  
  
  </body>
</html>
